<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Icons (si usás íconos) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">

  <link rel="stylesheet" href="/css/cart.css">
  
  <title>Document</title>
</head>

<body>

  {{> navBar}}

  <main class="container py-5 my-5">
    {{{body}}}
  </main>

  {{> cart}}

  {{> footer}}

  <!-- Script para manejar el carrito (agregar, eliminar, actualizar cantidades, etc.) -->
  <script src="/js/cart.js"></script>

  <!-- Script para manejar la eliminación de productos desde la vista de administración -->
  <script src="/js/deleteProduct.js"></script>

  <!-- JS (IMPORTANTE: bundle) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>